<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit URL</title>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha256-2YQRJMXD7pIAPHiXr0s+vlRWA7GYJEK0ARns7k2sbHY="
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="../../css/darkmode.css"/>
</head>
<body>
  <h2>EDITING</h2>
  <p>target URL: <%= entry.target %></p>
  <p>short URL: <%= entry.short %></p>
  <a href="/">HOME</a>
  <form action="api.url/editShort" method="post">
    <label for="updateShort">Update short URL code:</label>
    <input type="text" name="updateShort" id="updateShort" value="<%= entry.short %>"/>
    <button class="button-primary" type="submit">Update</button>
    <span class="message"></span>
  </form>
  <script src="../../js/darkmode.js"></script>
</body>
</html>